@font-face{
    font-family: 'Staatliches';
    src: url(./fonts/Staatliches/Staatliches-Regular.ttf)
}

@font-face{
    font-family: 'McLaren';
    src: url(./fonts/McLaren/McLaren-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.mybackground{
    background-image: url(./img/zonebg.jpg);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -10;
}

#banner {
    width: 100%;
    min-height: 100vh;
}

.welcometext {
    position: relative;
    top: 20%;
    left: 10%;
    width: auto;
    max-width: 50%;   
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 2px rgb(252, 248, 2);
}

h1, h2{
    font-family: 'Staatliches';
    font-size: 2em;
}


h2{
    text-align: center;
    margin: 20px 0px;
}

p{
    font-family: 'McLaren';
}

.wrapper{
    background-color: #F8F8FF;
    width: 100%;
}

.aboutme {
    max-width: 50%;
    position: relative;
}

.aboutme p{
    font-size: 1.5em;
}

.flex-content-aboutme{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-evenly;
    min-height: 100vh;
}

ul.skills{
    font-family: 'McLaren';
    font-size: 1.5em;
    list-style: square;
    margin-top: 0.1em;
}

.flex-content-hobby{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-evenly;
}

.hobby {
    position: relative;
    text-align: center;
}

#myphoto img{
    width: 80%;
    object-fit: cover;
    max-width: 800px;
    min-width: 200px;
}

.hobby .image{
    margin:30px 10px;
}

.hobby .image img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

.hobby .image img{
    width: 100%;
    object-fit: cover;
    max-width: 700px;
    min-width: 100px;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.desc{
    font-size: 1.5em;
}


footer {
    background-color: #242424;
    margin-top: 1%;
    width: 100%;
}

div.links {
    width:  100%;
    text-align: center;   
}

.links a{
    display: inline-block;
    margin: 10px 30px;
}

.links i {
    font-size: 4em;
    color:#F8F8FF;
    
}

.copyrights {
    color: #F8F8FF99;
    text-align: center;
}

.copyrights p {
    display: inline-block;
    margin: 0;
    font-size: 0.8em;
}


@media only screen and (max-width: 900px) {
    .flex-content-aboutme{
        flex-direction: column;
    }

    #myphoto img{
        width: 100%;
        object-fit: cover;
        max-width: 600px;
        min-width: 200px;
        margin-top: 10px;
    }

    .aboutme {
        max-width: 80%;
    }
}
